# Node
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# SvelteKit build output
.svelte-kit
build

# Environment files
.env
.env.*
!.env.example

# System files
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Editor
.vscode
.idea

# Logs
*.log
logs