@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@import url("");

:root {
    --couleur-bleu-vert: #63A6A6;
    --couleur-marron: #594432;
    --couleur-vieux-rose: #BF8484;
    --couleur-beige-rose: #D9B29C;
    --couleur-beige-clair: #F2E0D5;

    --font-bbb: "";
    --font-global: "Montserrat"; 
}